.createGroup{
  margin: 1rem 1rem 2rem;
  background-color: indianred;
  padding: 1rem;
  font-weight: bold;
  font-size: .8rem;
  color: #fff;
  font-family: 'Montserrat',sans-serif;
  text-decoration: none;
  text-align: center;
  h6{
    margin: 0.5rem 0;
  }
}
.groupContainer{
  margin: 1rem 1rem 2rem;
  padding: 1rem;
  border: 1px solid lightgrey;
  a{
    display: grid;
    text-decoration: none;
    color: black;
    grid-template-columns: auto 1fr;
  }
  .pictureContainer{
    width: 4rem;
    height: 4rem;
    img{
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  div{
    align-self: center;
    p{
      align-self: center;
      margin-left: 2rem;
    }
  }
}