.home{
  .contentLayout{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "leftside post rightside" ;
  }
  .postContainer{
    grid-area: post;
  }
  .createPost{
    border: 1px solid lightgrey;
    margin: 1rem 1rem 2rem;
    padding: 1rem;
    .action{
      display: grid;
      grid-template-columns: 0.4fr 1fr 1fr;
      margin-top: 0.5rem;
      select{
        align-self: center;
        height: 100%;
        padding: 0 0.2rem;
      }
      input{
        align-self: center;
        margin: 0 0.5rem;
      }
      button{
        align-self: center;
        font-size: .8rem;
        color: #fff;
        font-family: 'Montserrat',sans-serif;
        border: none;
        background-color: indianred;
        width: 100%;
        height: 100%;
      }
    }
    form{
      display: grid;
      grid-template-rows: 1fr 0.5fr;
      textarea{
        resize: none;
        padding: 0.5rem;
        max-height: 5rem;
        font-family: 'Lato', sans-serif;
      }
    }
  }
  .post{
    margin: 1rem 1rem 2rem 1rem;
    padding: 1rem;
    border: 1px solid lightgray;
  }
  .ProfilePicturePostContainer{
    a{
      display: grid;
      grid-template-columns: auto 1fr;
      text-decoration: none;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid lightgray;
      .UserNamePost{
        align-self: center;
        font-weight: bold;
        margin-left: 1rem;
        font-size: 1.25rem;
        color: indianred;
        font-family: 'Montserrat', sans-serif;
      }
      .ProfilePicturePost{
        width: 4rem;
        height: 4rem;
        object-fit: cover;
        img{
          border-radius: 50%;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .TextPostContainer{
    font-size: 1.25rem;
    letter-spacing: 0.04rem;
    line-height: 140%;
    width: 100%;
    margin: 1rem 0rem;
  }
  .PicturePostContainer{
    align-self: center;
    margin-bottom: 1rem;
    .imagePost{
      border: 1px solid lightgray;
      padding: 1rem;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
  .buttonLikeBookmarkPostContainer{
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin-bottom: 1rem;
    .likeCounter{
      margin-left: 1rem;
    }
    div{
      align-self: center;
      button{
        background-color: transparent;
        border: none;
      }
    }
  }
  .list-comment{
    h6{
      margin-top: 1rem;
      margin-bottom: 1rem;
      color: gray;
    }
  }
  .commentContainer{
    margin-top: 1.25rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    input{
      padding: 0.6rem;
      font-size: 1rem;
      background-color: transparent;
      width: 90%;
    }
    button{
      padding: 0.6rem;
      font-size: 0.8rem;
      color:white;
      font-family: 'Montserrat',sans-serif;
      border: none;
      background-color: indianred;
      width: 100%;
      height: 100%;
    }
  }
  .CommentBoxes{
    background-color: rgba(85, 46, 0, 0.05);
    padding: 1rem;
    margin-bottom: 1rem;
    #commentUsername{
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    .commentEdit{
      margin-top: 0.3rem;
      color: indianred;
      text-align: end;
    }
  }
}